@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Lexend+Deca&display=swap");
/* font-family: 'Bebas Neue', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Lexend+Deca&family=Oswald&display=swap");
/* font-family: 'Oswald', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  height: auto !important;
}
.navbar a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  padding-top: 10px;
  transition: color 0.3s linear 0.2s;
}
.navbar a:hover {
  color: #e95b2b !important;
}

.jumbotronportada {
  background-image: url(./img/index/portadaindex.JPG);
  background-size: cover;
  background-position: center;
  height: 650px;
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
.jumbotronportada h1 {
  color: white;
  text-shadow: 0 0 15px black;
  padding-right: 15px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.mainindex {
  background: rgb(35, 31, 32);
  background: linear-gradient(180deg, rgb(35, 31, 32) 0%, rgb(233, 91, 43) 50%, rgb(35, 31, 32) 100%);
  height: auto;
  margin: 0;
}

.prologo {
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.prologo h2 {
  color: white;
  margin-top: 0;
  padding-top: 60px;
  text-align: center;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  padding-top: 15px;
}
.prologo strong {
  color: #e95b2b;
}

.container-fluid {
  height: auto;
  padding: 15px;
  padding-bottom: 15px;
}
.container-fluid h2 {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 40px;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
}
.container-fluid .btnindex {
  background-color: #e95b2b;
  border-radius: 5px;
  border: solid 1px white;
  color: white;
  padding: 8px 10px 8px 10px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
.container-fluid .btnindex:hover {
  transform: scale(1.08);
  transition: all 0.9s;
}
.container-fluid .Nleft {
  text-align: center;
  padding-bottom: 30px;
}
.container-fluid .imgnosotrosinicio {
  background-image: url(./img/index/img1.JPG);
  background-position: bottom;
  background-size: cover;
  height: 650px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.container-fluid .imgnosotrosinicio:hover {
  transform: scale(1.03);
  transition: all 0.9s;
}
.container-fluid .Ncenter {
  text-align: center;
  padding-bottom: 30px;
}
.container-fluid .imgestilosinicio {
  background-image: url(./img/index/img2.jpg);
  background-position: center;
  background-size: cover;
  height: 650px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.container-fluid .imgestilosinicio:hover {
  transform: scale(1.03);
  transition: all 0.9s;
}
.container-fluid .Nright {
  text-align: center;
  padding-bottom: 30px;
}
.container-fluid .imgvendelaceluinicio {
  background-image: url(./img/index/vendelaceluindex.jpg);
  background-position: center;
  background-size: cover;
  height: 650px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.container-fluid .imgvendelaceluinicio:hover {
  transform: scale(1.03);
  transition: all 0.9s;
}

.containervideo {
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
  margin-top: 5px;
}
.containervideo .videoindex {
  height: auto;
  width: 100%;
}

.footer {
  height: auto;
  background-color: black;
  padding: 2px;
}

.Fleft {
  padding-left: 30px;
}

.Fcenter {
  background-color: black;
  text-align: center;
}

.Fcenter img {
  margin-top: 35px;
}

.Fright {
  background-color: black;
  text-align: center;
}

.footer h2 {
  color: #e95b2b;
  text-shadow: 0 0 1px white;
  font-family: "Bebas Neue", cursive;
  margin-top: 30px;
}

.footer p {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.piedepagina {
  background-color: black;
  text-align: center;
  padding: 8px;
}

.piedepagina h3 {
  color: white;
  font-size: 13px;
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotronNos {
  height: 650px;
  background-image: url(./img/nosotros/portadanosotros.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: end;
}
.jumbotronNos h1 {
  color: white;
  text-shadow: 0 0 15px black;
  margin-bottom: 15px;
  margin-left: 15px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.mainnosotros {
  background: rgb(35, 31, 32);
  background: linear-gradient(180deg, rgb(35, 31, 32) 0%, rgb(233, 91, 43) 50%, rgb(35, 31, 32) 100%);
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.seccion1Nos {
  height: auto;
  padding: 25px;
}

.articleNos1 {
  background-image: url(./img/nosotros/nosotros2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  height: 450px;
}

.asideNos1 h2 {
  text-align: center;
  color: #e95b2b;
  text-shadow: 0 0 10px black;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  padding-top: 10px;
}

.asideNos1 h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  text-align: center;
}

.seccion2Nos {
  height: auto;
  padding: 25px;
  padding-bottom: 25px;
}

.article2Nos h2 {
  text-align: center;
  color: #e95b2b;
  text-shadow: 0 0 10px black;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}

.article2Nos h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 22px;
  padding-bottom: 5px;
}

.aside2Nos {
  background-image: url(./img/nosotros/apasionadosnosotros.png);
  background-position: center;
  background-size: cover;
  height: 450px;
  border-radius: 5px;
}

.seccion3Nos {
  height: auto;
  padding: 25px;
  padding-bottom: 25px;
}

.article3Nos {
  background-image: url(./img/nosotros/artesanosnosotros.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  border-radius: 5px;
}

.aside3Nos h2 {
  text-align: center;
  color: #e95b2b;
  text-shadow: 0 0 10px black;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  padding-top: 10px;
}

.aside3Nos h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 22px;
}

.seccion4Nos {
  height: auto;
  padding: 25px;
  padding-bottom: 25px;
}

.article4Nos h2 {
  text-align: center;
  color: #e95b2b;
  text-shadow: 0 0 10px black;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}

.article4Nos h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 22px;
  padding-bottom: 5px;
}

.aside4Nos {
  background-image: url(./img/nosotros/cervecerosnosotros.jpg);
  background-position: top;
  background-size: cover;
  height: 450px;
  border-radius: 5px;
}

.portadaproductos {
  background-image: url(./img/productos/portadaproductos.JPG);
  background-position: top;
  background-size: cover;
  height: 650px;
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
.portadaproductos h1 {
  color: white;
  text-shadow: 0 0 15px black;
  margin-right: 80px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.mainproductos {
  height: auto;
  background: rgb(35, 31, 32);
  background: linear-gradient(180deg, rgb(35, 31, 32) 0%, rgb(233, 91, 43) 50%, rgb(35, 31, 32) 100%);
}

.containerlatasPro {
  height: auto;
  margin-bottom: 0;
  padding: 15px;
  padding-bottom: 15px;
}

.latasPro {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.latasPro h2 {
  color: #e95b2b;
  text-align: center;
  font-size: 40px;
  text-shadow: 0 0 10px black;
  font-family: "Bebas Neue", cursive;
  padding-top: 5px;
}
.latasPro p {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
}

.imglatasPro {
  background-image: url(./img/productos/latasproductos.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  margin-top: 5px;
}

.containergrowlersPro {
  height: auto;
  margin-bottom: 0;
  padding: 15px;
  padding-bottom: 15px;
}
.containergrowlersPro .growlersPro {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.containergrowlersPro .growlersPro h2 {
  color: #e95b2b;
  text-align: center;
  font-size: 40px;
  text-shadow: 0 0 10px black;
  font-family: "Bebas Neue", cursive;
}
.containergrowlersPro .growlersPro p {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}
.containergrowlersPro .imggrowlersPro {
  background-image: url(./img/productos/growlerproductos.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  margin-top: 5px;
}

.containterchoperasPro {
  height: auto;
  margin-bottom: 0;
  padding: 15px;
  padding-bottom: 15px;
}

.choperasPro {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.choperasPro h2 {
  color: #e95b2b;
  text-align: center;
  font-size: 40px;
  text-shadow: 0 0 10px black;
  font-family: "Bebas Neue", cursive;
}

.choperasPro p {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}

.imgchoperasPro {
  background-image: url(./img/productos/choperasproductos.png);
  background-position: center;
  background-size: cover;
  height: 700px;
  margin-top: 5px;
}

.containerbarrilesPro {
  height: auto;
  margin-bottom: 0;
  padding: 15px;
  padding-bottom: 15px;
}

.barrilesPro {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.barrilesPro h2 {
  color: #e95b2b;
  text-align: center;
  font-size: 40px;
  text-shadow: 0 0 10px black;
  font-family: "Bebas Neue", cursive;
}

.barrilesPro p {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}

.imgbarrilesPro {
  background-image: url(./img/productos/barrilesproductos.jpg);
  background-position: top;
  background-size: cover;
  height: 700px;
  margin-top: 5px;
}

.portadaestilos {
  background-image: url(./img/estilos/portadaestilos.jpg);
  background-size: cover;
  background-position: top;
  height: 650px;
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  justify-content: center;
}
.portadaestilos h1 {
  color: white;
  text-shadow: 0 0 15px black;
  padding-top: 15px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

/* inicio seccion1 estilo Golden */
.containergolden {
  background-image: linear-gradient(to right, #660434, #862837, #a14a3b, #b66d42, #c5924f, #c3954f, #c0974f, #be9a50, #ad7b3d, #995d2e, #834022, #6c2418);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}

.goldenleft {
  background-image: url(./img/estilos/latagolden.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.goldencenter {
  background-image: url(./img/estilos/goldenlogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.goldenright {
  display: flex;
  align-items: center;
}

.goldenright h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}

.containeripa {
  background-image: linear-gradient(to right, #b71d37, #be4b3e, #c26c4c, #c68963, #caa380, #bda083, #b19c86, #a59889, #85796e, #665b54, #48403b, #2b2624);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}

.ipaleft h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}

.ipaleft {
  display: flex;
  align-items: center;
}

.ipacenter {
  background-image: url(./img/estilos/ipalogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.iparight {
  background-image: url(./img/estilos/lataipa.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.containerporter {
  background-image: linear-gradient(to right, #610d1b, #5e112d, #561a3c, #4a2347, #3c2a4e, #402d51, #443154, #483457, #5e3558, #733653, #843a4b, #90413f);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}

.porterleft {
  background-image: url(./img/estilos/lataporter.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.portercenter {
  background-image: url(./img/estilos/porterlogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.porterright h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}

.porterright {
  display: flex;
  align-items: center;
}

.containerdulce {
  background-image: linear-gradient(to right, #e0a9c5, #e3b4cd, #e6bed5, #e9c9dd, #ecd3e4, #e7ccdd, #e1c4d6, #dcbdcf, #cda3b7, #bf889f, #b06f85, #a1556b);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}
.containerdulce .dulceleft h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.containerdulce .dulcecenter {
  background-image: url(./img/estilos/dulcelogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.containerdulce .dulceright {
  background-image: url(./img/estilos/latadulce.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.containerkolsch {
  background-image: linear-gradient(to right, #fae343, #fbda4f, #fbd25b, #f8ca65, #f4c36f, #f2bd6d, #f0b76c, #eeb16b, #f0aa60, #f1a455, #f39c4a, #f59540);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}

.kolschleft {
  background-image: url(./img/estilos/latakolsch.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.kolschcenter {
  background-image: url(./img/estilos/kolschlogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.kolschright h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}

.kolschright {
  display: flex;
  align-items: center;
}

.containerscotish {
  background-image: linear-gradient(to left, #b70c13, #bd4518, #c26627, #c6833d, #cb9d59, #c29e62, #ba9f6b, #b29f75, #998969, #80735e, #675f52, #4e4b47);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}

.scotishleft h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}

.scotishleft {
  display: flex;
  align-items: center;
}

.scotishcenter {
  background-image: url(./img/estilos/scotishlogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.scotishright {
  background-image: url(./img/estilos/latascotish.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.containerlaregalona {
  background-image: linear-gradient(to right, #40beb5, #55a286, #5f8660, #5f6b45, #575134, #5e4b36, #60463c, #5d4342, #6c535c, #756576, #79798f, #7c8ea2);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}

.laregalonaleft {
  background-image: url(./img/estilos/latalaregalona.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.laregalonacenter {
  background-image: url(./img/estilos/laregalonalogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.laregalonaright h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}

.laregalonaright {
  display: flex;
  align-items: center;
}

.containerintensidad {
  background-image: linear-gradient(to right, #463b31, #594742, #6a5458, #76646f, #7d7586, #7c7790, #787a9a, #717da4, #6c6fa4, #6e5fa0, #754c98, #7e358b);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}
.containerintensidad .intensidadleft {
  display: flex;
  align-items: center;
}
.containerintensidad .intensidadleft h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}
.containerintensidad .intensidadcenter {
  background-image: url(./img/estilos/intensidadlogo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.containerintensidad .intensidadright {
  background-image: url(./img/estilos/lataintensidad.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  border-radius: 5px;
}

.containerdivino {
  background-image: linear-gradient(to right, #ee9150, #f3847c, #df84a1, #bc8cb5, #9a92b5, #958eae, #918aa8, #8c86a1, #9b7a97, #a96e81, #ae6662, #a36641);
  padding: 25px;
  padding-bottom: 25px;
  height: auto;
}

.divinoleft {
  background-image: url(./img/estilos/latadivino.png);
  background-position: center;
  background-size: cover;
  height: 650px;
}

.divinocenter {
  background-image: url(./img/estilos/divinologo.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.divinoright h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 15px black;
  text-align: center;
  font-size: 25px;
}

.divinoright {
  display: flex;
  align-items: center;
}

.portadachoperas {
  background-image: url(./img/choperas/portadaachoperas.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  align-items: end;
  justify-content: center;
}
.portadachoperas h1 {
  color: white;
  text-shadow: 0 0 15px black;
  margin-bottom: 15px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.mainchoperas {
  height: auto;
  background: rgb(35, 31, 32);
  background: linear-gradient(180deg, rgb(35, 31, 32) 0%, rgb(233, 91, 43) 50%, rgb(35, 31, 32) 100%);
  padding-bottom: 15px;
}

.seccion1choperas {
  height: 100px;
}
.seccion1choperas h2 {
  color: #e95b2b;
  text-shadow: 0 0 10px black;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  font-family: "Bebas Neue", cursive;
}

.imgseccion1choperas {
  background-image: url(./img/choperas/choperas1.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.seccion2choperas {
  height: 100px;
}
.seccion2choperas h2 {
  color: #e95b2b;
  text-shadow: 0 0 10px black;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  font-family: "Bebas Neue", cursive;
}
.seccion2choperas .imgseccion2choperas {
  background-image: url(./images/imgseccion2choperas.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 15px;
}

.seccion3choperas {
  height: 100px;
}

.seccion3choperas h2 {
  color: #e95b2b;
  text-shadow: 0 0 10px black;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  font-family: "Bebas Neue", cursive;
}

.imgseccion3choperas {
  background-image: url(./img/choperas/choperas3.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.txtcontacto {
  color: white;
  text-shadow: 0 0 15px black;
  padding-bottom: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.formulario {
  background-image: url(./img/contacto/portadacontacto.jpg);
  background-position: center;
  background-size: cover;
  height: 650px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 20px;
  color: white;
  text-shadow: 0 0 2px black;
  display: row;
  align-items: center;
}
.formulario .nombreyapellido,
.formulario .email,
.formulario .codigodearea,
.formulario .telefono,
.formulario .motivoconsulta,
.formulario .mensaje {
  font-size: 18px;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
.formulario .nombreyapellido {
  padding-bottom: 30px;
}
.formulario .btncontacto {
  background-color: #e95b2b;
  border-radius: 5px;
  border: solid 1px white;
  color: white;
  font-size: 20px;
  padding: 8px 10px;
  font-family: "Oswald", sans-serif;
  transition: all 0.9s;
}
.formulario .btncontacto:hover {
  transform: scale(1.08);
}

/*# sourceMappingURL=style.css.map */
